body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

h1 {
    color: green;
}

html {
    background-color: #262626;
}

#holder_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    text-align: center;
}

#opening_profile_picture_glow {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: #0000;
    box-shadow: 0 0 10px 1px #ff0095;
}

#name_text {
    color: hotpink;
    font-family: 'Dynapuff', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro_text_1 {
    color: hotpink;
    font-family: 'Lucida Console', monospace;
    margin: 0;
}

#intro_text_2 {
    color: lightblue;
    font-family: 'Lucida Console', monospace;
    font-size: "small";
    margin-top: 0;
    margin-bottom: 20px;
}

.base_button {
    border-radius: 3px;
    background: none;
    border: solid;
    border-width: 1px;
    color: white;
    width: 50%;
    font-size: 20px;
    margin: 2px;
}

.base_button:hover {
    border-color: gray !important;
}

#section_holder {
    min-width: 300px;
    min-height: 500px;
    background-color: gray;
    width: 35%;
    height:95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: rgb(38,38,38);
    background: linear-gradient(160deg, rgba(38,38,38,1) 0%, rgba(94,7,85,1) 70%, rgba(255,0,226,1) 100%);
}

#about_me_home_button {
    position: absolute;
    left: 40px;
    top: 45%;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: hotpink;
    color: hotpink;
    font-size: 5vw;
    font-size: max(150%);
    width: 100px;
}

#about_me_home_button:hover {
    border-color: gray;
}

#portfolio_list {
    position: absolute;
    top: 55%;
    text-align: left;
    font-size: 4vw, max(larger);
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-weight: bolder;
}

.list_items {
    margin-top: 5%;
    color: white;
}